<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.1//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iberdrola.cappfdmd.competencycenters.mapper.CompetencyCenterDisciplineMapper">

	<insert id="insert" parameterType="com.iberdrola.cappfdmd.competencycenters.model.CompetencyCenterDiscipline">
        INSERT INTO COMPETENCY_CENTER_DISCIPLINES (
        	COMPETENCY_CENTER_ID,
        	USER_ID,
        	DISCIPLINE_ID
        ) VALUES (
        	#{center.id},
        	#{user.id},
        	#{discipline.id}
        )
    </insert>
    
	<delete id="delete" parameterType="com.iberdrola.cappfdmd.competencycenters.model.CompetencyCenterDiscipline">
        DELETE FROM COMPETENCY_CENTER_DISCIPLINES
        WHERE COMPETENCY_CENTER_ID = #{center.id},
        AND USER_ID = #{user.id}
        AND DISCIPLINE_ID = #{discipline.id}
    </delete>
    
</mapper>